body { background: #ebc17f; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 30px; display: flex; }
.block-database-0 { color: #9d12fa; font-size: 15px; margin-bottom: 5px; }
.block-email-1 { color: #a6ee4b; font-size: 15px; margin-bottom: 5px; }
.block-auth-2 { color: #54093b; font-size: 19px; margin-bottom: 5px; }
.block-user-3 { color: #794237; font-size: 18px; margin-bottom: 5px; }
.block-email-4 { color: #67b7f5; font-size: 15px; margin-bottom: 5px; }
.block-metrics-5 { color: #2ff26f; font-size: 21px; margin-bottom: 5px; }